.main-btn {
    background: #EDECE8;
    border-radius: 14px;
    padding: 18px 16px;
    border: none;

    font-size: 15px;
    font-weight: 600;
    color: #000;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    width: 150px;            /* ← ВОТ ЭТО ДЕЛАЕТ КАРТОЧКУ!!! */
    height: 68px;            /* ← как в макете */
    cursor: pointer;

    justify-self: center;

}



.main-btn-icon {
    width: 20px;
    opacity: 0.8;
}
